

  @media screen and (min-width: 901px) {
    .left-side {
        background-color: #F05638;
        height: 100%;
        width: 50%;
        padding: 50px;
        position: fixed;
      }
    
      .left-side img {
        position: absolute;
        bottom: 0;
        right: 75px;
      }
    
      .left-side h1 {
        font-size: 9em;
        margin-top: -40px;
        margin-bottom: 50px;
      }
    
      .right-side {
        height: 100%;
        width:700px;
        max-width:100%;
        position: fixed;
        margin-top: 50px;
        padding: 50px;
      }
  }    

* {
    box-shadow: border;
  }
  body {
    height: 100%;
  }
  #app {
    width: 100%;
    height: 100%;
    background-color: #fff;
    overflow: hidden;
    font-family: 'Cairo', sans-serif;


  }

  #circle {
    margin: 20px;
    width: 300px;
    height: 300px;
    position: relative;
    margin: 0 auto;
  }

  .left-side img {
    position: absolute;
    bottom: 0;
    right: 75px;
  }

  .left-side h1 {
    font-size: 9em;
    margin-top: -40px;
    margin-bottom: 50px;
  }

  .showTasks {
    margin-top: 30px;
    padding: 10px;
    background-color: #FFF2F0;
    min-height: 100px;
  }

.bubble-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.5);
  font-family: sans-serif;
  font-size: 13px;
  color: #333;
}
.bubble-toggle:hover {
  background: rgba(255, 255, 255, 0.75);
}

.bubbles {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.bubble-container {
  position: absolute;
  bottom: 0;
  will-change: transform;
  -webkit-animation: bubblerise 4s infinite ease-in;
  -moz-animation: bubblerise 4s infinite ease-in;
  -ms-animation: bubblerise 4s infinite ease-in;
  animation: bubblerise 4s infinite ease-in;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

.bubble {
  width: 6px;
  height: 6px;
  margin: 0 auto;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.25);
  will-change: transform;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-animation: bubblewobble 0.4s infinite linear;
  -moz-animation: bubblewobble 0.4s infinite linear;
  -ms-animation: bubblewobble 0.4s infinite linear;
  animation: bubblewobble 0.4s infinite linear;
}

@-webkit-keyframes bubblerise {
  0% {
    bottom: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  5% {
    bottom: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  99% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  100% {
    bottom: 100%;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}
@-moz-keyframes bubblerise {
  0% {
    bottom: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  5% {
    bottom: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  99% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  100% {
    bottom: 100%;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}
@-ms-keyframes bubblerise {
  0% {
    bottom: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  5% {
    bottom: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  99% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  100% {
    bottom: 100%;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}
@keyframes bubblerise {
  0% {
    bottom: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  5% {
    bottom: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  99% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  100% {
    bottom: 100%;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}
@-webkit-keyframes bubblewobble {
  0% {
    margin-left: 0;
  }
  50% {
    margin-left: 2px;
  }
}
@-moz-keyframes bubblewobble {
  0% {
    margin-left: 0;
  }
  50% {
    margin-left: 2px;
  }
}
@-ms-keyframes bubblewobble {
  0% {
    margin-left: 0;
  }
  50% {
    margin-left: 2px;
  }
}
@keyframes bubblewobble {
  0% {
    margin-left: 0;
  }
  50% {
    margin-left: 2px;
  }
}

  @media screen and (max-width: 900px) {
    #main {
      display: flex;
      flex-flow: column-reverse nowrap;
    }

    .left-side {
      background-color: #F05638;
      padding: 50px;
      position: static;
    }

    .left-side img {
      position: absolute;
      bottom: 0;
      right: 0;
    }

    .left-side h1 {
      font-size: 35px;
      margin-top: -40px;
      margin-bottom: 50px;
    }

    .right-side {
      position: static;
      padding: 40px;

    }
    .circle {
      margin: 20px;
      width: 200px;
      height: 200px;
      position: relative;
      margin: 0 auto;
    }
  }